[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/zzo-dev"]
	path = themes/zzo-dev
	url = https://github.com/redisread/hugo-theme-zzo.git
